.nix-tools
*/*.asm
*/*.d
*/*.o
*/*.out
*/*.S
*/*.sym
fs.img
kernel/kernel
mkfs/mkfs
user/_cat
user/_echo
user/_grep
user/_init
user/_kill
user/_ln
user/_ls
user/_mkdir
user/_rm
user/_schedtest
user/_sh
user/_wc
user/_zombie
user/initcode